@charset "UTF-8";

// Default Variables

$slick-font-path: "../fonts/" !default;
$slick-font-family: "viablelab" !default;
$slick-loader-path: "../images/" !default;

$slick-arrow-color: $theme-secondary !default;
$slick-arrow-color-light: #fff !default;

$slick-dot-color: #CCCCCC !default;
$slick-dot-color-light: #fff !default;
$slick-dot-color-active: #fff !default;

$slick-prev-character-lg: "\e802" !default;
$slick-next-character-lg: "\e801" !default;
$slick-prev-character: "\e805" !default;
$slick-next-character: "\e804" !default;

$slick-dot-character: "\000B7" !default;
$slick-dot-size: 40px !default;

$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url);
	}
	@else {
		@return url($slick-loader-path + $url);
	}
}

@function slick-font-url($url) {
	@if function-exists(font-url) {
		@return font-url($url);
	}
	@else {
		@return url($slick-font-path + $url);
	}
}

/* Slider */

.slick-list {
	.slick-loading & {
		background: #fff slick-image-url("ajax-loader.gif") scroll center center no-repeat;
	}
}

/* Icons */
@if $slick-font-family == "slick" {
	@font-face {
		font-family: "slick";
		src: slick-font-url("slick.eot");
		src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
		font-weight: normal;
		font-style: normal;
	}
}

/* Arrows */

.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	top: 50%;
	margin-top: -50px;
	padding: 15px 12px;
	border: 1px solid transparent;
	outline: none;
	z-index: 1;
	//width: 44px;
	@include border-radius(10px);
	&:hover,
	&:focus {
		background-color: transparent;
		outline: none;
		color: transparent;
		&:before {
			opacity: $slick-opacity-on-hover;
			color: $theme-secondary;
		}
	}
	&.slick-disabled{
		border-color: #f7f7f7;
		&:before {
			opacity: $slick-opacity-not-active;
			color: #CECECE;
		}
	}

	.module-carousel-hero & {
		width: auto;
		border: none;
		background-color: transparent;
		@include border-radius(0);
	}
	.slick-vertical & {
		top: 0;
		//width: 30px;
		//height: 30px;
		margin: 0 auto;
		left: 0;
		padding: 0;
		right: 0;
		//@include rotate(90deg);
		//@include border-radius(100%);
	}
}
.slick-prev:before,
.slick-next:before {
	font-family: $slick-font-family;
	font-size: $font-size-h1;
	line-height: 1;
	color: $slick-arrow-color;
	opacity: $slick-opacity-default;
	@include font-smoothing(on);
	.slick-vertical &{
		font-size: $font-size-h2;
	}
}
// Arrows
.slick-prev {
	left: -45px;
	.module-carousel-hero & {
		left: 45px;
		border: none;
		[dir="rtl"] & {
			left: auto;
			right: 45px;
		}
	}
	.module-carousel-submenu & {
		left: 45px;
		border: none;
		[dir="rtl"] & {
			left: auto;
			right: 45px;
		}
	}
	.slick-vertical & {
		top: -75px;
	}
	[dir="rtl"] & {
		left: auto;
		right: 45px;
	}
	&:before {
		content: $slick-prev-character;
		.module-carousel-hero & {
			content: $slick-prev-character-lg;
			color: $slick-arrow-color-light;
			font-size: 10rem;
		}
		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}
.slick-next {
	right: -45px;
	.module-carousel-hero & {
		border: none;
		right: 45px;
		[dir="rtl"] & {
			left: 45px;
			right: auto;
		}
	}
	.module-carousel-submenu & {
		border: none;
		right: 45px;
		[dir="rtl"] & {
			left: 45px;
			right: auto;
		}
	}
	.slick-vertical & {
		top: auto;
		bottom: -75px;
	}
	[dir="rtl"] & {
		left: 45px;
		right: auto;
	}
	&:before {
		content: $slick-next-character;
		.module-carousel-hero & {
			content: $slick-next-character-lg;
			color: $slick-arrow-color-light;
			font-size: 10rem;
		}
		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* Dots */


.slick-dots {
	position: absolute;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
	.module-carousel-hero & {
		bottom: 45px;
	}
	li {
		position: relative;
		display: inline-block;
		margin: 0 5px;
		padding: 0;
		cursor: pointer;
		button {
			background-color: $slick-dot-color;
			display: block;
			height: 19px;
			width: 19px;
			outline: none;
			line-height: 0px;
			font-size: 0px;
			color: transparent;
			padding: 5px;
			cursor: pointer;
			border: 3px solid #fff;
			position: relative;
			@include border-radius(100px);
			&:hover,
			&:focus {
				outline: none;
				&:before {
					//opacity: $slick-opacity-on-hover;
				}
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				line-height: 30px;
				text-align: center;
				background-color: $slick-dot-color;
				color: $slick-dot-color;
				//opacity: $slick-opacity-not-active;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-family: "maricon";
				font-size: 30px;
				margin: 3px auto 0;
				right: 0;
				z-index: 1;
				width: 7px;
				height: 7px;
				@include border-radius(100%);
				.module-carousel & {
					color: $slick-dot-color-light;
				}
			}
		}
		&.slick-active button {
			background-color: $brand-primary;
			&:before {
				color: $slick-dot-color-active;
				background-color: $slick-dot-color-active;
				@include opacity($slick-opacity-default);
			}
		}

	}
}